<section id="lead" class="row text-center">
  <div class="col-sm-12">
    <h2>NEED MORE INFORMATION?</h2>
    Please fill in the form and send. We will reply you within 24 hours.
  </div>
</section>
<section id="form">
  <div class="col-sm-12">
    <div class='page-header'>
      <h3 class="text-muted">Contact Us</h3>
    </div>
    <div class="col-sm-8">
      <form class="form" role="form" action="/contactus/confirmation" method="GET" >
        <div class="form-group row">
          <div class="col-sm-6">
            <h8>First Name</h8>
            <input type="text" name="first_name" class="form-control">
          </div>
          <div class="col-sm-6">
            <h8>Second Name</h8>
            <input type="text" name="last_name" class="form-control">
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-6">
            <h8>Email</h8>
            <input type="text" name="email" class="form-control">
          </div>
          <div class="col-sm-6">
            <h8>Phone</h8>
            <input type="text" name="phone" class="form-control">
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-6">
            <h8>Choose your camp</h8>
            <select name="camp" class="form-control select select-primary">
              <option value="None">None</option>
              <option value="Architecture">Architecture Portfolio Workshop in LA</option>
              <option value="Music">Music Summer Camp in LA</option>
              <option value="Chinese">Chinese Summer Camp in Beijing</option>
              <option value="Ice">Ice and Snow Winter Camp in Harbin/Beijing</option>
            </select>
          </div>
          <div class="col-sm-6">
            <h8>Inquire Type*</h8>
            <select name="inqure_type" class="form-control select select-primary">
              <option value="None">None</option>
              <option value="parent">Parent</option>
              <option value="student">Student</option>
              <option value="school">School</option>
              <option value="teacher">Teacher</option>
              <option value="other">Other/Business</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-12">
            <h8>Message</h8>
            <%= text_area_tag 'message', nil, rows: 5, class: 'form-control', name:'message'%>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-12">
            <input id="contact_submit" type="submit" class="btn btn-primary col-sm-12" value="Submit">
          </div>
        </div>
      </form>
    </div>

    <div class="col-sm-4">
      <div class="row">
        <div class="thumbnail">
          <%= image_tag("custservice.jpg") %>
          <div class="caption">
            <h4>Opening Hours</h4>
            <h6>Monday - Friday 08:00-21:00</h6>
            <h6>Saturday & Sunday 10:00-18:00</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="row bg-gray" id="our_programs">
  <div class="col-sm-12">
    <div class='page-header'>
      <h3 class="text-muted">Our Programs</h3>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag("portfolio/thumbnails/2.jpg",class: "media-object") %>
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>...</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag("portfolio/thumbnails/1.jpg",class: "media-object") %>
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>...</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag("portfolio/thumbnails/4.jpg", class: "media-object") %>
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>...</p>
        </div>
      </div>
    </div>
  </br>
</div>
</section>
