<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= image_tag("logo.png",class: "navbar-header logo-small") %>
      <%= link_to 'Capriole', root_path, class: "navbar-brand"%>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Home', root_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Camp Program <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'American Programs', programs_us_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to 'Chinese Programs', programs_cn_path %></li>
          </ul>
        </li>
        <li><%= link_to 'Parents', parents_path %></li>
        <li><%= link_to 'FAQs', faqs_path %></li>
        <li><%= link_to 'Contact Us', contactus_path %></li>
      </ul>
    </ul>
  </div><!-- /.container-fluid -->
</nav>
